<app-actionbar-component
  (sendAction)="viewModal()"
  (sendQuery)="filterData($event)"
  [btnSpinner]="showFilterSpin()"
>
</app-actionbar-component>

<app-list-component
  [nameKeys]="nameKeys"
  [nameCols]="nameCols"
  [dataRows]="dataRows()"
  [dataSpinner]="showFilterSpin()"
  (clickConfirm)="confirmChange($event)"
  (clickAction)="queryIndividualData($event)"
></app-list-component>

@if (showDialog()) {
  <dialog id="my_modal_1" class="modal modal-open">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Planes</h3>
      <div class="divider divider-neutral" style="margin: 0"></div>
      <fieldset class="fieldset">
        <label class="label">Nombre</label>
        <input
          type="text"
          [(ngModel)]="formData().nombre"
          placeholder="Ingrese nombre"
          class="input input-md mb-1"
          style="width: 100%"
        />
        <label class="label">Precio</label>
        <input
          type="text"
          [(ngModel)]="formData().precio"
          placeholder="Ingrese nombres"
          class="input input-md mb-1"
          style="width: 100%"
        />
        <div>
          <label class="label">
            <input type="checkbox" [(ngModel)]="formData().marca" class="checkbox" />
            Incluir Marca
          </label>
          <label class="label" style="margin-left: 1rem;">
            <input type="checkbox" [(ngModel)]="formData().tabla" class="checkbox" />
            Respuesta en Tabla
          </label>
          <label class="label" style="margin-left: 1rem;">
            <input type="checkbox" [(ngModel)]="formData().json" class="checkbox" />
            Respuesta en JSON
          </label>
        </div>
      </fieldset>
      <div class="modal-action">
        <app-btnlod-component
          [btnSpinner]="showSaveSpin()"
          [btnIcon]="'SAVE'"
          [btnLabel]="'GUARDAR'"
          [btnStyle]="'success'"
          (clickSend)="saveData()"
        ></app-btnlod-component>
        <button class="btn btn-neutral" (click)="cancelData()">
          <svg lucideX></svg>
          CANCELAR
        </button>
      </div>
    </div>
  </dialog>
}
